<% if current_user %>
  <div class="container flex-wrap-reverse navbar-brown full-radius padding mb-3">
    <div class="row center-it-all" id='profile-header'>
      <div class="col-lg">
        <img id="profile_pic" src="<%= current_user.google_image_url %>" style="border-radius:80px; width:160px; height:auto;"><br><br>

        <%= link_to 'View Profile', profile_path(current_user.id), method: :get, class: "btn btn-sm btn-info navbar-custom btn-outline-dark" %>
      </div>

      <div class="col-lg">
        <h1>Welcome, <%= current_user.full_name %>!</h1>
      </div>
    </div>
  </div>

  <div class="container navbar-brown top-radius padding mb-1">
    <div class="row">
      <h2>Upcoming Workouts</h2>
    </div>
  </div>

  <div class="container navbar-brown bottom-radius padding mb-3">
    <div class="row" id='upcoming-workouts'>
      <div class="d-flex flex-wrap center-it-all">
        <% if @user_events.empty? %>
          <div class='col-sm-3 whitecard'>
            <p align="center">You currently have no upcoming workouts.</p>
          </div>
        <% else %>

          <% @user_events.each do |event| %>
          <div class="col-md-3 whitecard" id="event-<%= event.id%>">
            <p>
              <h5><%= event.activity %></h5>

              <%= event.date_time %><br><br>
              <%= link_to 'Delete', event_path(event.id, {user_id: current_user.id, gym_membership_id: event.gym_membership_id}), method: :delete, class: "btn btn-sm btn-info navbar-custom btn-outline-dark" %>
            </p>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container navbar-brown top-radius padding mb-1">
    <div class="row">
      <h2>My Gyms</h2>
    </div>
  </div>

  <div class="container navbar-brown bottom-radius padding mb-3">
    <div class="row" id='gyms'>
      <div class="d-flex flex-wrap center-it-all">
        <% if @user_gyms.empty? %>
          <div class='col-md-auto whitecard'>
            <p align="center">You currently are not a member of any gyms.</p>
          </div>
        <% else %>
          <% @user_gyms.each do |gym| %>
            <div class='col-xl-3 whitecard' id="gym-<%= gym.yelp_gym_id%>">
              <p align="center">
                <h5><%= gym.gym_name %></h5>

                <%= link_to 'View', gym_path(gym.yelp_gym_id), class: "btn btn-sm btn-info navbar-custom btn-outline-dark" %>
                <%= link_to 'Remove', gym_membership_path(gym.id, {user_id: current_user.id}), method: :delete, class: "btn btn-sm btn-info navbar-custom btn-outline-dark" %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <br>

    <div class="row">
      <div align="center" id='find-gyms'>
        <%= link_to 'Find Gyms Near Me', gyms_path(zip_code: current_user.zip_code), class: "btn btn-sm btn-info navbar-custom btn-outline-dark" %>
      </div>
    </div>
  </div>

  <div class="container navbar-brown top-radius padding mb-1">
    <div class="row">
      <h2><%= @user_friends.size %> Following</h2>
    </div>
  </div>

  <div class="container navbar-brown bottom-radius padding">
    <div class="row" id='friends'>
      <% if @user_friends.empty? %>
        <p>You currently have no friends.</p>
      <% else %>
        <div class="d-flex flex-wrap center-it-all">

          <% @user_friends.each do |friend| %>
            <div class='col-xl-3 whitecard' id="friend-<%= friend.id%>">

              <p>
                <img id="profile_pic" src="<%= friend.google_image_url %>" style="border-radius:50%">
                <h5><%= friend.full_name %></h5>

                <%= embedded_svg('icons/basic_geolocalize-01.svg', class: 'icon') %>
                <%= friend.zip_code %><br>

                <%= embedded_svg('icons/basic_gunsight.svg', class: 'icon') %>
                <%= friend.goal %><br>

                <%= embedded_svg('icons/basic_calendar.svg', class: 'icon') %>
                <%= friend.availability %><br>

                <br>

                <%= link_to 'View', profile_path(
                                              friend.id
                                              ),
                                              class: "btn btn-sm btn-info navbar-custom btn-outline-dark" %>

                <%= link_to 'Unfollow', friendship_path(
                                        current_user.id,
                                        {
                                          user_id: current_user.id,
                                          followee_id: friend.id
                                        }),
                                        method: :delete,
                                        class: "btn btn-sm btn-info navbar-custom btn-outline-dark" %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <br><br>

<% end %>
