<% if current_user %>
  <div class="container flex-wrap-reverse gray full-radius padding mb-3" id='profile-header'>
    <div class="row item-center center-it-all">
      <div class="col-lg">
      </div>

      <div class="col-lg">
        <img id="profile_pic" src="<%= current_user.google_image_url %>" style="width:160px; height:auto;" class='round'>

        <h1><%= current_user.full_name %></h1>

        <%= link_to 'View Profile', profile_path(current_user.id), method: :get, class: "btn btn-sm btn-info button-bg btn-outline-dark" %>
        <%= link_to 'Edit Profile', edit_profile_path(current_user.id), method: :get, class: "btn btn-sm btn-info button-bg btn-outline-dark" %>
      </div>

      <div class="col-lg fit-content">
        <ul class='no-bullets'>
          <li class='location'>
            <%= current_user.zip_code %>
          </li>

          <li class='goal'>
            <%= current_user.goal %>
          </li>

          <li class='calendar'>
            <%= current_user.availability %>
          </li>

          <li class='user-summary'>
            <%= current_user.summary %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container gray top-radius padding mb-1">
    <div class="row">
      <h2>My Dashboard</h2>
    </div>
  </div>

  <div class="container gray bottom-radius padding mb-3">
    <div class="row center">
      <div class="col">
        <h5 class='no-margin'><%= link_to 'Upcoming Workouts', '#my-upcoming-workouts', class: 'center' %></h5>
      </div>
      <div class="col">
        <h5 class='no-margin'><%= link_to 'My Gyms', '#my-gyms', class: 'center' %></h5>
      </div>
      <div class="col">
        <h5 class='no-margin'><%= link_to "#{@user_friends.size} Following", '#my-friends', class: 'center' %></h5>
      </div>
      <div class="col">
        <h5 class='no-margin'><%= link_to 'Followers', '#my-followers', class: 'center' %></h5>
      </div>
    </div>
  </div>

  <div class="container gray top-radius padding mb-1" id='my-upcoming-workouts'>
    <div class="row">
      <h2><%= @user_events.size %> Upcoming Workouts</h2>
    </div>
  </div>

  <div class="container gray bottom-radius padding mb-3" id='upcoming-workouts'>
    <div class="row">
      <div class="d-flex flex-wrap center-it-all">
        <% if @user_events.empty? %>
          <div class='col-sm-3 card-display'>
            You have no upcoming workouts.
          </div>
        <% else %>

          <% @user_events.each do |event| %>
          <div class="col-md-3 card-display" id="event-<%= event.id%>">
            <p>
              <h5><%= event.activity %></h5>
              <div class="row center no-pad">
                <div class="fit-content no-pad">
                  <ul class='no-bullets'>
                    <li class='sign'>
                      <%= link_to 'Gym Name Here', '#' %>
                    </li>

                    <li class='calendar'>
                      <%= event.format_date_short %>
                    </li>

                    <li class='star'>
                      With: <%= link_to event.friend_name, profile_path(event.user_id) %>
                    </li>
                  </ul>
                </div>
              </div>

              <%= link_to 'Delete', event_path(event.id, {user_id: current_user.id, gym_membership_id: event.gym_membership_id}), method: :delete, class: "btn btn-sm btn-info button-bg btn-outline-dark" %>
            </p>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container gray top-radius padding mb-1" id='my-gyms'>
    <div class="row">
      <h2>My Gyms</h2>
    </div>
  </div>

  <div class="container gray bottom-radius padding mb-3" id='gyms'>
    <div class="row">
      <div class="d-flex flex-wrap center-it-all">
        <% if @user_gyms.empty? %>
          <div class='col-md-auto card-display'>
            You are not a member of any gym.
          </div>
        <% else %>
          <% @user_gyms.each do |gym_membership| %>
            <div class='col-xl-3 card-display' id="gym-<%= gym_membership.yelp_gym_id%>">
              <h5><%= link_to gym_membership.gym_name, gym_path(gym_membership.yelp_gym_id) %></h5>

              <div class="row center no-pad">
                <div class="fit-content no-pad">
                  <ul class='no-bullets'>
                    <li class='address'>
                      AddressLine1 Here<br>
                      AddressLine2 Here<br>
                      AddressLine3 Here<br>
                      City, ST 00000
                    </li>
                  </ul>
                </div>
              </div>

              <%= link_to 'Remove', gym_membership_path(gym_membership.id, {user_id: current_user.id}), method: :delete, class: "btn btn-sm btn-info button-bg btn-outline-dark" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <br>

    <div class="row">
      <div align="center" id='find-gyms'>
        <%= link_to 'Find Gyms Near Me', gyms_path(zip_code: current_user.zip_code), class: "btn btn-sm btn-info button-bg btn-outline-dark" %>
      </div>
    </div>
  </div>

  <div class="container gray top-radius padding mb-1" id='my-friends'>
    <div class="row">
      <h2><%= @user_friends.size %> Following</h2>
    </div>
  </div>

  <div class="container gray bottom-radius padding mb-3" id='friends'>
    <div class="row center-it-all">
      <% if @user_friends.empty? %>
        <div class='col-sm-3 card-display center'>
          You have no friends.
        </div>
      <% else %>
        <div class="row center-it-all">
          <div class="d-flex flex-wrap center-it-all">

            <% @user_friends.each do |friend| %>
              <div class='col-xl-3 card-display' id="friend-<%= friend.id%>">

                <img id="profile_pic" src="<%= friend.google_image_url %>" class='round'>

                <h5 class='mb-3'><%= link_to friend.full_name, profile_path(friend.id) %></h5>

                <div class="row center no-pad mb-3">
                  <div class="fit-content no-pad">
                    <ul class='no-bullets'>
                      <li class='location'>
                        <%= friend.zip_code %>
                      </li>

                      <li class='goal'>
                        <%= friend.goal %>
                      </li>

                      <li class='calendar'>
                        <%= friend.availability %>
                      </li>
                    </ul>
                  </div>
                </div>

                <%= link_to 'Unfollow', friendship_path(
                                        current_user.id,
                                        {
                                          user_id: current_user.id,
                                          followee_id: friend.id
                                        }),
                                        method: :delete,
                                        class: "btn btn-sm btn-info button-bg btn-outline-dark" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container gray top-radius padding mb-1" id='my-followers'>
    <div class="row">
      <h2>[#] Followers</h2>
    </div>
  </div>

  <div class="container gray bottom-radius padding mb-3" id='followers'>
    <div class="row center-it-all">
      <div class='col-sm-3 card-display'>
        You have no followers.
      </div>
    </div>
  </div>

  <br><br>

<% end %>
