<div id="gym_attributes">
  <h1><%= @gym.name %></h1><br/>
  <p><%= @gym.address %></p><br/>
  <p><%= @gym.phone %></p><br/>
</div>

<p>Number of Active Members: <%= @gym_users_count.gym_member_count %></p><br/>

<% if @gym_users.map(&:id.to_s).include?(current_user.id.to_s) %>
  <p>My Friends at this <%= @gym.name %><br/></p>
    <% @gym_friends.each do |friend| %>
      <%= friend.name  %> <% button_to 'Create Event', '/post this shit', method: :post, params: { friend_id: friend.id, user_id: current_user.id, gym_id: @gym.yelp_gym_id } %>
      <% link_to 'View Profile', profile_path(friend.id), class: "btn btn-info btn-lg btn-outline-dark" %>
    <% end %><br/>

  <p>Add New Friends at <%= @gym.name %><br/>
    <% @gym_non_friends.each do |non_friend| %>
      <%= non_friend.name  %>
        <% button_to 'Add Friend', '/post this shit', method: :post, params: { non_friend_id: non_friend.id, user_id: current_user.id, gym_id: @gym.yelp_gym_id } %>
        <% link_to 'View Profile', profile_path(non_friend.id), class: "btn btn-info btn-lg btn-outline-dark" %>
      <% end %><br/>

  <%= link_to 'Remove', gym_path(@gym.id, {user_id: current_user.id}), method: :delete, class: "btn btn-info btn-lg btn-outline-dark" %>

<% else %>

  <%= form_with url: gyms_path, method: :post, local: true do |f|  %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :yelp_gym_id, value: @gym.yelp_gym_id %>
    <%= f.hidden_field :gym_name, value: @gym.name %>
    <%= f.submit 'Add Gym', class: "btn btn-info btn-sm btn-outline-dark" %>
  <% end %>

<% end %>
