<table class="table table-sm table-borderless table-responsive align-middle">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td align="center">
        <img id="profile_pic" src="<%= current_user.google_image_url %>">
        <br>
        <br>
        <% if view_type == 'profile (self)' %>
        <!-- todo: add view helper method(s) to get goal from enum (req's still pending from BE) -->
          <h4 id="goals"><u>Goal:</u>
            <br>
            <%= current_user.goal if current_user.goal %>
          </h4>
          <!-- todo: add view helper method(s) to get availability from booleans to strings for cleaner display -->
          <h4 id="availability"><u>Availability:</u>
            <br>
            <% if current_user.availability_morning %>
              <p>Morning</p>
            <% end %>
            <% if current_user.availability_afternoon %>
              <p>Afternoon</p>
            <% end %>
            <% if current_user.availability_evening %>
              <p>Evening</p>
            <% end %>
          </h4>
          <%= link_to 'Edit Profile', profile_edit_path(current_user.id), class: "btn btn-info btn-lg btn-outline-dark" %>
          <br>
        <% elsif view_type == 'dashboard' %>
          <%= link_to 'View Profile', profile_path(current_user.id), method: :get, class: "btn btn-info btn-lg btn-outline-dark" %>
          <br>
          <br>
          <h2 id="friends">My Friends:</h2>
          <!-- placeholder for stubs in controller, remove guard clause after sprint -->
          <% if @user_friends %>
            <% @user_friends.each do |friend| %>
              <p id="friend"><%= friend.full_name %></p>
            <% end %>
          <!-- placeholder for stubs in controller, remove guard clause after sprint -->
          <% end %>
        <% end %>
      </td>
      <td>
        <h1 id="user_name"><%= current_user.full_name %></h1>
        <h4 id="zip_code">Zip Code: <%= current_user.zip_code %></h4>
        <br>
        <% if view_type == 'profile (self)' %>
          <h3 id="summary"><u>Summary:</u>
            <br>
            <%= current_user.summary %></h3>
          <br>
        <% elsif view_type == 'dashboard' %>
          <h2 id="events">Upcoming Workouts:</h2>
          <!-- placeholder for stubs in controller, remove guard clause after sprint -->
          <% if @user_events %>
            <% @user_events.each do |event| %>
              <p id="event"><%= event.activity %>: <%= event.date_time %></p>
            <% end %>
          <!-- placeholder for stubs in controller, remove guard clause after sprint -->
          <% end %>
          <h2 id="gyms">My Gyms:</h2>
          <!-- placeholder for stubs in controller, remove guard clause after sprint -->
          <% if @user_gyms %>
            <% @user_gyms.each do |gym| %>
              <p id="gym"><%= gym.name %></p>
            <% end %>
          <!-- placeholder for stubs in controller, remove guard clause after sprint -->
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
