<% if current_user %>
  <h1>Welcome, <%= current_user.full_name %>! </h1>

  <h2>My Friends</h2>
  <% @user_friends.each do |friend| %>
  <p><%= friend.full_name %></p>
  <% end %>

  <h2>My Gyms</h2>
  <% @user_gyms.each do |gym| %>
  <p><%= gym.name %></p>
  <% end %>

  <h2>My Upcoming Workouts</h2>
  <% @user_events.each do |event| %>
  <p><%= event.date_time %>: <%= event.activity %></p>
  <% end %>
<% end %>
