<div align="center" class="card navbar-brown" style="width: flex;">
  <h1>Register</h1>

  <%= form_with url: registration_path(google_id: params[:google_id], google_token: params[:google_token], google_image_url: params[:google_image_url]), local: true do |f| %>
    <%= f.label :full_name, 'Name' %>
    <br>
    <%= f.text_field :full_name, value: params[:full_name], id: :full_name, class: "btn btn-sm btn-white navbar-custom btn-outline-dark" %>
    <br>
    <%= f.label :email, 'Email' %>
    <br>
    <%= f.text_field :email, value: params[:email], readonly: true, id: :email, class: "btn btn-sm btn-white navbar-custom btn-outline-dark" %>
    <br>
    <%= f.label :zip_code, 'Zip Code' %>
    <br>
    <%= f.text_field :zip_code, id: :zip_code, class: "btn btn-sm btn-white navbar-custom btn-outline-dark" %>
    <br>
    <%= f.label :summary, 'Summary' %>
    <br>
    <%= f.text_area :summary, cols: 40, id: :summary, class: "btn btn-sm btn-white navbar-custom btn-outline-dark" %>
    <br>
    <%= f.label :goal, 'Goals' %>
    <br>
    <%= f.select :goal, User.goals_array, include_blank: 'Select your motivation', id: :goal, class: "btn btn-sm btn-white navbar-custom btn-outline-dark" %>
    <br>
    <br>
    <h4>Availability</h4>
    <%= f.label :availability_morning, 'Morning' %>
    <%= f.check_box :availability_morning, id: :availability_morning, class: "btn btn-sm btn-white navbar-custom btn-outline-dark" %>
    <br>
    <%= f.label :availability_afternoon, 'Afternoon' %>
    <%= f.check_box :availability_afternoon, id: :availability_afternoon, class: "btn btn-sm btn-white navbar-custom btn-outline-dark" %>
    <br>
    <%= f.label :availability_evening, 'Evening' %>
    <%= f.check_box :availability_evening, id: :availability_evening, class: "btn btn-sm btn-white navbar-custom btn-outline-dark" %>
    <br>
    <br>
    <%= f.submit 'Register', class: "btn btn-sm btn-white navbar-custom btn-outline-dark" %>
  <% end %>
  <br>
</div>
