<h1>Register</h1>

<%= form_with url: registration_path(params[:format]), local: true do |f| %>
  <%= f.label :email, 'Email' %>
  <br>
  <%= f.text_field :email, id: :email %>
  <br>
  <%= f.label :zip_code, 'Zip Code' %>
  <br>
  <%= f.text_field :zip_code, id: :zip_code %>
  <br>
  <%= f.label :summary, 'Summary' %>
  <br>
  <%= f.text_area :summary, cols: 40, id: :summary %>
  <br>
  <%= f.label :goals, 'Goals' %>
  <br>
  <%= f.select :goals, ['Gain Weight', 'Lose Weight', 'Increase Flexibility', 'Increase Stamina'], include_blank: 'Select your motivation' %>
  <br>
  <br>
  <h4>Availability</h4>
  <%= f.label :availability_morning, 'Morning' %>
  <%= f.check_box :availability_morning, id: :availability_morning %>
  <br>
  <%= f.label :availability_afternoon, 'Afternoon' %>
  <%= f.check_box :availability_afternoon, id: :availability_afternoon %>
  <br>
  <%= f.label :availability_evening, 'Evening' %>
  <%= f.check_box :availability_evening, id: :availability_evening %>
  <br>
  <br>
  <%= f.submit 'Register', class: 'btn btn-primary' %>
<% end %>
<br>
