<h1>Register</h1>

<%= form_with url: registration_path(google_id: params[:google_id], google_token: params[:google_token], profile_pic_url: params[:profile_pic_url]), local: true do |f| %>
  <%= f.label :full_name, 'Name' %>
  <br>
  <%= f.text_field :full_name, value: params[:full_name], id: :full_name %>
  <br>
  <%= f.label :email, 'Email' %>
  <br>
  <%= f.text_field :email, value: params[:email], readonly: true, id: :email %>
  <br>
  <%= f.label :zip_code, 'Zip Code' %>
  <br>
  <%= f.text_field :zip_code, id: :zip_code %>
  <br>
  <%= f.label :summary, 'Summary' %>
  <br>
  <%= f.text_area :summary, cols: 40, id: :summary %>
  <br>
  <%= f.label :goal, 'Goals' %>
  <br>
  <%= f.select :goal, ['Gain Weight', 'Lose Weight', 'Increase Flexibility', 'Increase Stamina'], include_blank: 'Select your motivation', id: :goal %>
  <br>
  <br>
  <h4>Availability</h4>
  <%= f.label :availability_morning, 'Morning' %>
  <%= f.check_box :availability_morning, id: :availability_morning %>
  <br>
  <%= f.label :availability_afternoon, 'Afternoon' %>
  <%= f.check_box :availability_afternoon, id: :availability_afternoon %>
  <br>
  <%= f.label :availability_evening, 'Evening' %>
  <%= f.check_box :availability_evening, id: :availability_evening %>
  <br>
  <br>
  <%= f.submit 'Register', class: 'btn btn-primary' %>
<% end %>
<br>
