<div class="container gray top-radius padding mb-1" style="width: flex;">
  <h1 class="card-title">Gyms Near My Zip Code: <%= current_user.zip_code %></h1>
</div>

<div class='container gray bottom-radius padding-content mb-3'>
  <div class="row" id="gyms">
    <div class="d-flex flex-wrap center-it-all">
      <% @gyms.each do |gym| %>
        <div class="col-xl-5 card-display flex-grow">
          <div id="<%= gym.yelp_gym_id %>">
            <ul class='no-bullets'>
              <li>
                <%= embedded_svg('icons/basic_signs.svg', class: 'icon') %>
                &nbsp;<span class='title'><%= link_to gym.name, gym_path(gym.yelp_gym_id) %></span>
              </li>

              <li>
                <%= embedded_svg('icons/basic_geolocalize-01.svg', class: 'icon') %>
                &nbsp;<%= gym.full_address %>
              </li>

              <% if gym.phone.present? %>
                <li>
                  <%= embedded_svg('icons/basic_smartphone.svg', class: 'icon') %>
                  &nbsp;<%= gym.phone %>
                </li>
              <% end %>

              <li>
                <%= embedded_svg('icons/basic_star.svg', class: 'icon') %>
                &nbsp;[##] Active Members
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
