<div align="center" class="card navbar-brown" style="width: flex;">
  <h1 class="card-title">Gyms Near <%= current_user.zip_code %></h1>
</div>
<br/><br/>

<div align="center" id="gyms">
  <div class="card navbar-brown" style="width: 40rem;">
    <% @gyms.each do |gym| %>
    <div class="card-body">
      <div id="<%= gym.yelp_gym_id %>">
        <h5 class="card-title"><%= gym.name %></h5>
        <h6 class="card-subtitle mb-2"><%= gym.address %></h6>
        <h6 class="card-subtitle mb-2"><%= gym.phone %></h6>
        <h6 class="card-subtitle mb-2"><%= link_to gym.name, gym_path(gym.yelp_gym_id), class: "btn btn-sm btn-danger navbar-custom btn-outline-dark" %>
        </h6>
      </div>
    </div>
    <% end %>
  </div>
</div>
