<% if current_user %>
  <div id="gym-details">
    <h1><%= @gym.name %></h1><br>
    <p><%= @gym.address %></p><br>
    <p><%= @gym.phone %></p><br>
  </div>

  <div id='active-members'>
    <p>
      Number of Active Members: <%= @gym_users_count.gym_member_count %>
    </p><br>
  </div>

  <% if @user_gym_membership.present? %>

    <%= link_to 'Remove Gym', gym_membership_path(
                                @user_gym_membership.id,
                                { user_id: current_user.id }
                              ),
                              method: :delete,
                              class: "btn btn-info btn-lg btn-outline-dark" %>

    <div id='my-friends'>
      <h2>My Friends at <%= @gym.name %></h2>
        <% @gym_friends.each do |friend| %>
          <p>
            <%= friend.full_name  %>
            <%= link_to 'Create Event', new_event_path(
                                            friend_id: friend.id,
                                            friend_name: friend.full_name,
                                            gym_membership_id: @user_gym_membership.id,
                                            gym_name: @gym.name
                                        ),
                                        method: :get,
                                        class: "btn btn-info btn-sm btn-outline-dark" %>
            <%= link_to 'View Profile', profile_path(friend.id),
                                        class: "btn btn-info btn-sm btn-outline-dark" %>
          </p>
      <% end %>
    </div>

    <div id='non-friends'>
      <h2>Add New Friends at <%= @gym.name %></h2>
        <% @gym_non_friends.each do |non_friend| %>
          <p>
            <%= non_friend.full_name  %>
            <%= link_to 'Add Friend', friendships_path(
                                        current_user.id,
                                        {
                                          user_id: current_user.id,
                                          followee_id: non_friend.id
                                        }
                                      ),
                                      method: :post,
                                      class: "btn btn-info btn-lg btn-outline-dark" %>
            <%= link_to 'View Profile', profile_path(non_friend.id),
                                        class: "btn btn-info btn-sm btn-outline-dark" %>
          </p>
        <% end %>
    </div>


  <% else %>
    <%= link_to 'Add Gym', gym_memberships_path(user_id: current_user.id,
                                                yelp_gym_id: @gym.yelp_gym_id,
                                                gym_name: @gym.name),
                           method: :post,
                           class: "btn btn-info btn-sm btn-outline-dark" %>
  <% end %>
<% end %>
