<% if current_user %>
  <div class="container flex-wrap-reverse gray full-radius padding mb-3" id='gym-details'>
    <div class="row item-center center-it-all">
      <div class="col">
        <h1><%= @gym.name %></h1>

        <div class="row center no-pad">
          <div class="fit-content no-pad">
            <ul class='no-bullets'>
              <li>
                <%= embedded_svg('icons/basic_geolocalize-01.svg', class: 'icon') %>
                &nbsp;<%= @gym.full_address %>
              </li>

              <% if @gym.phone.present? %>
                <li>
                  <%= embedded_svg('icons/basic_smartphone.svg', class: 'icon') %>
                  &nbsp;<%= @gym.phone %>
                </li>
              <% end %>

              <li>
                <%= embedded_svg('icons/basic_star.svg', class: 'icon') %>
                &nbsp;<%= @gym_users_count.gym_member_count %> Active Members
              </li>
            </ul>
          </div>
        </div>

        <% if @user_gym_membership.present? %>
          <%= link_to 'Remove Gym', gym_membership_path(
                                      @user_gym_membership.id,
                                      { user_id: current_user.id }
                                    ),
                                    method: :delete,
                                    class: "btn btn-sm btn-white button-bg btn-outline-dark" %>
        <% else %>
          <%= link_to 'Add Gym', gym_memberships_path(user_id: current_user.id,
                                                      yelp_gym_id: @gym.yelp_gym_id,
                                                      gym_name: @gym.name),
                                 method: :post,
                                 class: "btn btn-sm btn-white button-bg btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @user_gym_membership.present? %>
    <div class="container gray top-radius padding mb-1">
      <div class="row">
        <h2>Members I Follow at <%= @gym.name %></h2>
      </div>
    </div>

    <div class="container gray bottom-radius padding mb-3" id='my-friends'>
      <div class="row">
        <div class="d-flex flex-wrap center-it-all">
          <% if @gym_friends.empty? %>
            You don't follow anyone at this gym.
          <% else %>
            <% @gym_friends.each do |friend| %>
              <div class='col-xl-3 card-display' id="friend-<%= friend.id%>">

                <img id="profile_pic" src="<%= friend.google_image_url %>" class='round'>

                <h5 class='mb-3'><%= link_to friend.full_name, profile_path(friend.id) %></h5>

                <div class="row center no-pad mb-3">
                  <div class="fit-content no-pad">
                    <ul class='no-bullets'>
                      <li>
                        <%= embedded_svg('icons/basic_geolocalize-01.svg', class: 'icon') %>
                        &nbsp;<%= friend.zip_code %>
                      </li>

                      <li>
                        <%= embedded_svg('icons/basic_gunsight.svg', class: 'icon') %>
                        &nbsp;<%= friend.goal %>
                      </li>

                      <li>
                        <%= embedded_svg('icons/basic_calendar.svg', class: 'icon') %>
                        &nbsp;<%= friend.availability %>
                      </li>
                    </ul>
                  </div>
                </div>

                <%= link_to 'Schedule Workout', new_event_path(
                                                friend_id: friend.id,
                                                friend_name: friend.full_name,
                                                gym_membership_id: @user_gym_membership.id,
                                                gym_name: @gym.name
                                            ),
                                            method: :get,
                                            class: "btn btn-sm btn-white button-bg btn-outline-dark" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container gray top-radius padding mb-1">
      <div class="row">
        <h2>Follow Other Members at <%= @gym.name %></h2>
      </div>
    </div>

    <div class="container gray bottom-radius padding mb-3" id='non-friends'>
      <div class="row">
        <div class="d-flex flex-wrap center-it-all">
          <% if @gym_non_friends.empty? %>
            Either you follow all the people at this gym or there are no other gym members.
          <% else %>
            <% @gym_non_friends.each do |non_friend| %>
              <div class='col-xl-3 card-display' id="non-friend-<%= non_friend.id%>">

                <img id="profile_pic" src="<%= non_friend.google_image_url %>" class='round'>

                <h5 class='mb-3'><%= link_to non_friend.full_name, profile_path(non_friend.id) %></h5>

                <div class="row center no-pad mb-3">
                  <div class="fit-content no-pad">
                    <ul class='no-bullets'>
                      <li>
                        <%= embedded_svg('icons/basic_geolocalize-01.svg', class: 'icon') %>
                        &nbsp;<%= non_friend.zip_code %>
                      </li>

                      <li>
                        <%= embedded_svg('icons/basic_gunsight.svg', class: 'icon') %>
                        &nbsp;<%= non_friend.goal %>
                      </li>

                      <li>
                        <%= embedded_svg('icons/basic_calendar.svg', class: 'icon') %>
                        &nbsp;<%= non_friend.availability %>
                      </li>
                    </ul>
                  </div>
                </div>

                <%= link_to 'Follow', friendships_path(
                                            current_user.id,
                                            {
                                              user_id: current_user.id,
                                              followee_id: non_friend.id
                                            }
                                          ),
                                          method: :post,
                                          class: "btn btn-sm btn-info button-bg btn-outline-dark" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
